<div>

    <h2 translate="environmentApp.clan.home.title">Clan</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveClanModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="environmentApp.clan.home.createLabel">Create a new Clan</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveClanModal" tabindex="-1" role="dialog" aria-labelledby="myClanLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myClanLabel" translate="environmentApp.clan.home.createOrEditLabel">Create or edit a Clan</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="clan.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="environmentApp.clan.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="clan.name">

                            <div ng-show="editForm.name.$invalid">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="environmentApp.clan.members">members</label>
                            <select class="form-control" multiple name="members" ng-model="clan.memberss" ng-options="user as user.firstName for user in users track by user.id">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="environmentApp.clan.chieftain">chieftain</label>
                            <select class="form-control" name="chieftain" ng-model="clan.chieftain.id" ng-options="user.id as user.firstName for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteClanConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(clan.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="environmentApp.clan.delete.question" translate-values="{id: '{{clan.id}}'}">Are you sure you want to delete this Clan?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="environmentApp.clan.name">Name</th>
                    <th translate="environmentApp.clan.chieftain">chieftain</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="clan in clans">
                    <td><a ui-sref="clanDetail({id:clan.id})">{{clan.id}}</a></td>
                    <td>{{clan.name}}</td>
                    <td>{{clan.chieftain.firstName}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="clanDetail({id:clan.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(clan.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(clan.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
